.header {
    padding-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    align-items: center;
    &__info {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    &__logo-box {
        margin: 10px 0;
    }
    &__logo-link {
        margin-left: 8px;
        font-size: 19px;
        line-height: 22px;
        color: $main;
        vertical-align: top;
        position: relative;
        &_white {
            color: $white;
        }
        &:hover {
            color: $accent;
            transition-duration: 0.3s;
        }
        &::before {
            content: "";
            background-image: url(../../img/link-slash-min.svg);
            width: 11px;
            height: 24px;
            position: absolute;
            left: -10px;
        }
        &::after {
            content: "";
            background-image: url(../../img/link-p-min.svg);
            width: 22px;
            height: 24px;
            position: absolute;
            right: -22px;
        }
    }
    &__address,
    &__fb {
        display: none;
    }
    &__lang {
        background-repeat: no-repeat;
    }
    &__lang-item {
        padding: 5px 6px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: $white;
        border-radius: 8px;
    }
    &__lang-item:hover {
        background-color: $bg_alt;
        transition-duration: 0.2s;
    }
    &__lang-item.active {
        background-color: $accent;
    }
    &__address {
        margin: 0 30px 0 18px;
        position: relative;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: $white;
        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $separator;
            position: absolute;
            left: -13px;
            top: 8px;
        }
        &::after {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $separator;
            position: absolute;
            right: -16px;
            top: 8px;
        }
    }
    &__tel {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: $white;
        &:hover {
            color: $accent;
            transition-duration: 0.2s;
        }
    }
    &__fb {
        margin-left: 26px;
        position: relative;
        & a {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
            &:hover path {
                fill: $white;
                transition-duration: 0.2s;
            }
        }
        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $separator;
            position: absolute;
            left: -16px;
            top: 10px;
        }
    }
    &__burger {
        border: none;
        background-color: inherit;
        cursor: pointer;
        padding: 0;
        border-radius: 12px;
        width: 32px;
        height: 32px;
        &:hover {
            background-color: $bg_alt;
            transition-duration: 0.3s;
        }
    }
    &-menu {
        &__mobile {
            max-width: 375px;
        }
        &-link {
            max-width: 100%;
            padding: 9px;
            text-align: center;
        }
    }
    &__menu-link {
        display: none;
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }
    &__menu-link a {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: right;
        color: $white;
        margin-left: 16px;
        &:hover {
            color: $accent;
            transition-duration: 0.2s;
        }
        &.active {
            border-bottom: 2px solid $white;
            &:hover {
                border-color: $accent;
                transition-duration: 0.2s;
            }
        }
    }
    &_dark {
        .header {
            &__lang-item,
            &__address,
            &__tel {
                color: $text;
            }
            &__lang-item.active {
                color: $white;
            }
            &__fb a:hover path {
                fill: $active;
                transition-duration: 0.2s;
            }
            &__menu-link a {
                color: $active;
                &:hover {
                    color: $accent;
                    transition-duration: 0.2s;
                }
                &.active {
                    color: $accent;
                    border-bottom: 2px solid $accent;
                    &:hover {
                        border-color: $accent;
                        transition-duration: 0.2s;
                    }
                }
            }
            &__tel {
                &:hover {
                    color: $accent;
                    transition-duration: 0.2s;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        &__info {
            justify-content: flex-start;
            margin-bottom: 0;
        }
        &__address,
        &__fb {
        display: block;
        }
        &__burger {
            display: none;
        }
        &__menu-link {
            display: flex;
            margin-top: 0;
        }
        &__menu-link a {
            margin-right: 16px;
            margin-left: 0px;
        }
        &__title {
            margin-top: 243px;
            font-size: 38px;
            line-height: 45px;
            grid-column: -2 / -1;
        }
        &__logo-link {
            font-size: 38px;
            line-height: 45px;
            margin-left: 24px;
            &::before {
                background-image: url(../../img/link-slash.svg);
                width: 22px;
                height: 47px;
                position: absolute;
                left: -21px;
            }
            &::after {
                background-image: url(../../img/link-p.svg);
                width: 42px;
                height: 47px;
                position: absolute;
                right: -46px;
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        padding-top: 50px;
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr;
        &__info {
            grid-column: 2 / -1;
            justify-self: end;
        }
        &__logo-box {
            grid-row: 1 / -1;
            align-self: center;
        }
        &__menu {
            justify-self: end;
        }
        &__menu-link a {
            margin-right: 0px;
            margin-left: 16px;
        }
        &__title {
            grid-column: -3 / -1;
        }
    }
}
