.slider {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $active;
    opacity: 0.2;
    margin-left: 14px;
    border: none;
    cursor: pointer;
    &.active {
        opacity: 1;
        &:hover {
            opacity: 1;
        }
    }
    &:hover {
        opacity: 0.6;
        transition-duration: 0.3s;
    }
    &:active {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .slider {
        &_tablet {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    .slider {
        &_desktop {
            display: none;
        }
    }
}
